<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Family Healthcare</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="We Provide a full range of services for each patient's personal needs. At Family Healthcare, we have created an environment that is both professional and managed with a family approach. Our staff is dedicated and trained to improve the health and well-being of our patients by making their health our number one priority."/>

  <meta name="keywords" content="Family Healthcare Denton TX, Family Medicine, Family Doctor, Doctor in Denton TX, Doctor of Osteopathic Medicine, Dr. Stanley Evans, Stanley C Evans DO,HealthCare, healthcare, 76210, Testosterone Therapy, Testosterone Replacement, Flu Shots, HCG Diet, Physicians, Family General Practice, Women's Health Physicians, Geriatrics, Adolescent Care, Adult Care, Drug Testing, Diabetic Screening, Family Planning, Genetic Testing, Family Practice, Injuries, Nurse Practitioners, Pediatrics, Physicals, Sports, Weekend Appointments, Weight Management, Wellness Programs, Women's Health, Mens Health, X-Rays, Vaccinations, Children"/>

  <meta name="robots" content="noodp" />
  <meta name="revisit-after" content="3 Days">
  <meta name="expires" content="never">
  <meta name="rating" content="General">
  <meta name="author" content="Family Healthcare">

  <meta property="og:url" content="http://www.familyhealthcareofdenton.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Stanley C. Evans, D.O. | Family Healthcare | Family Medicine" />
  <meta property="og:description" content="Family Medicine | Family doctor &amp; for those located in Denton TX &amp; nearby cities." />
  <meta property="og:image" content="#" />
  <meta property="og:image:type" content="image/gif" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Stanly C. Evans D.O. | Family Healthcare | Family Medicine" />
  <meta name="twitter:description" content="Family Medicine | Family doctor &amp; for those located in Denton TX &amp; nearby cities." />

  <link type="text/css" href="reset.css">
  <link rel="stylesheet" href="style.css" media="screen">
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link rel="canonical" href="http://familyhealthcareofdenton.com/">

  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-55346479-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <!-- FACEBOOK -->
  <meta property="fb:app_id" content="1486681638075022" />
  <!-- END FACEBOOK -->
</head>
<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '1486681638075022',
        cookie: true,
        xfbml: true,
        version: 'v2.11'
      });

      FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="head">
    <h1 class="line-1 anim-typewriter">Welcome to Family Healthcare</h1>
    <h2> 
      <a href="" class="typewrite" data-period="2000" data-type='["We Provide a full range of services for each patients personal needs.", "We have created an environment that is both professional and managed with a family approach.", "Our staff is dedicated and trained to improve the health and well-being", "Making your health our number one priority."]'>
        <span class="wrap"></span>
      </a>
    </h2>
  </div>
  <div class="project">
    <a href="https://familyhealthcaredenton.com" class="project__image">
      <div class="project__card">
        <img src="website.jpeg"  alt="Family Healthcare website">
        <div class="project__detail">
          <h2 class="project__title">FAMILY HEALTHCARE</h2>
          <small class="project__category">WEBSITE</small>
        </div>
      </div>
    </a>
  </div>
  <!-- <div class="project">
    <a href="https://www.facebook.com/Family-Healthcare-of-Denton-172278342817776/" class="project__image">
      <div class="project__card">
        <img src="fb.png" alt="Family Healthcare facebook">
        <div class="project__detail">
          <h2 class="project__title">FAMILY HEALTHCARE</h2>
          <small class="project__category">FACEBOOK</small>
        </div>
      </div>
    </a>
  </div> -->
  <div>
    
  </div>
  <!-- Page Footer -->
  <footer>
    <!--Copyright-->
    <div class='footer-copyright'>
      <div class='foot'>
          <p class="footText">Copyright <a href="https://familyhealthcaredenton.com/rights" target='_blank' rel='nofollow noopener noreferrer'>&copy; 2017 Family Healthcare. All Rights Reserved.</a></p>
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!-- end-footer --> 
  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="jquery.hover3d.js" ></script>
  <script src="typeing.js"></script>
  <script src="main.js"></script>
</html>
