/* Large desktops and laptops */
@media screen and (min-width: 1200px) { 
    /******* Header ********/
    body {
		/*background-image: url(test3.png);
		background-repeat: no-repeat;*/
	}

	h1 {
		text-align: center;
		font-size: -webkit-xxx-large;
		color:darkolivegreen; /*#4c555f*//*#263366*/
		margin: 3% 0 0 0;
		letter-spacing: 0.4rem;
		/*text-shadow: 5px 5px 10px #4c555f;*/
	}

	.project {
		width: 50%;
		margin: auto;
	}

	.project__image {
		display: block;
		position: relative;
		border: none;
	}

	.project__image img {
		width: 100%;
		max-width: 100%;
		display: block;
		box-shadow: 5px 10px 18px #888888;
	}

	.project__image:after {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity .3s ease;
		opacity: 0;
	}

	.project__card {
		position: relative;
		will-change: transform;
		transition: box-shadow .3s ease;
		box-shadow: 0 10px 30px transparent;
	}

	.project__card.hover-in {
		transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out;
		transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	}

	.project__card.hover-out {
		transition: -webkit-transform .2s ease-in;
		transition: transform .2s ease-in;
		transition: transform .2s ease-in, -webkit-transform .2s ease-in;
	}

	.project:hover .project__card { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }

	.project:hover .project__image:after { opacity: 0.2; }

	.project:hover .project__detail {
		border-width: 10px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
	}

	.project:hover .project__title, .project:hover .project__category {
		-webkit-transform: translateY(0) scale(1);
		-ms-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
		opacity: 1;
	}

	.project__detail {
		position: absolute;
		left: 30px;
		right: 30px;
		top: 30px;
		bottom: 30px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		pointer-events: none;
		-webkit-transform: translateZ(30px);
		transform: translateZ(30px);
		border: 0 solid #fff;
		transition: border .4s ease;
	}

	.project__title {
		margin: 0 0 10px;
		font-size: 36px;
		font-weight: 700;
		transition: .4s ease;
		opacity: 0;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__title a { color: #fff; }

	.project__category {
		opacity: 0;
		transition: .4s ease;
		transition-delay: .1s;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__category a {
		color: #fff;
		font-size: 1.3em;
	}

}
  
/* Landscape tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /******* Header ********/

	body {
		/*background-image: url(test3.png);
		background-repeat: no-repeat;*/
	}

	h1 {
		text-align: center;
		font-size: -webkit-xxx-large;
		color:darkolivegreen; /*#4c555f*//*#263366*/
		margin: 3% 0 0 0;
		letter-spacing: 0.4rem;
		/*text-shadow: 5px 5px 10px #4c555f;*/
	}

	.project {
		width: 50%;
		margin: auto;
	}

	.project__image {
		display: block;
		position: relative;
		border: none;
	}

	.project__image img {
		width: 100%;
		max-width: 100%;
		display: block;
		box-shadow: 5px 10px 18px #888888;
	}

	.project__image:after {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity .3s ease;
		opacity: 0;
	}

	.project__card {
		position: relative;
		will-change: transform;
		transition: box-shadow .3s ease;
		box-shadow: 0 10px 30px transparent;
	}

	.project__card.hover-in {
		transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out;
		transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	}

	.project__card.hover-out {
		transition: -webkit-transform .2s ease-in;
		transition: transform .2s ease-in;
		transition: transform .2s ease-in, -webkit-transform .2s ease-in;
	}

	.project:hover .project__card { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }

	.project:hover .project__image:after { opacity: 0.2; }

	.project:hover .project__detail {
		border-width: 10px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
	}

	.project:hover .project__title, .project:hover .project__category {
		-webkit-transform: translateY(0) scale(1);
		-ms-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
		opacity: 1;
	}

	.project__detail {
		position: absolute;
		left: 30px;
		right: 30px;
		top: 30px;
		bottom: 30px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		pointer-events: none;
		-webkit-transform: translateZ(30px);
		transform: translateZ(30px);
		border: 0 solid #fff;
		transition: border .4s ease;
	}

	.project__title {
		margin: 0 0 10px;
		font-size: 36px;
		font-weight: 700;
		transition: .4s ease;
		opacity: 0;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__title a { color: #fff; }

	.project__category {
		opacity: 0;
		transition: .4s ease;
		transition-delay: .1s;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__category a {
		color: #fff;
		font-size: 1.3em;
	}

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 815px) and (max-width: 991px) {
    /******* Header ********/

h1 {
		text-align: center;
		font-size: -webkit-xxx-large;
		color:darkolivegreen; /*#4c555f*//*#263366*/
		margin: 3% 0 0 0;
		letter-spacing: 0.4rem;
		/*text-shadow: 5px 5px 10px #4c555f;*/
	}

	.project {
		width: 50%;
		margin: auto;
	}

	.project__image {
		display: block;
		position: relative;
		border: none;
	}

	.project__image img {
		width: 100%;
		max-width: 100%;
		display: block;
		box-shadow: 5px 10px 18px #888888;
	}

	.project__image:after {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity .3s ease;
		opacity: 0;
	}

	.project__card {
		position: relative;
		will-change: transform;
		transition: box-shadow .3s ease;
		box-shadow: 0 10px 30px transparent;
	}

	.project__card.hover-in {
		transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out;
		transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	}

	.project__card.hover-out {
		transition: -webkit-transform .2s ease-in;
		transition: transform .2s ease-in;
		transition: transform .2s ease-in, -webkit-transform .2s ease-in;
	}

	.project:hover .project__card { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }

	.project:hover .project__image:after { opacity: 0.2; }

	.project:hover .project__detail {
		border-width: 10px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
	}

	.project:hover .project__title, .project:hover .project__category {
		-webkit-transform: translateY(0) scale(1);
		-ms-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
		opacity: 1;
	}

	.project__detail {
		position: absolute;
		left: 30px;
		right: 30px;
		top: 30px;
		bottom: 30px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		pointer-events: none;
		-webkit-transform: translateZ(30px);
		transform: translateZ(30px);
		border: 0 solid #fff;
		transition: border .4s ease;
	}

	.project__title {
		margin: 0 0 10px;
		font-size: 36px;
		font-weight: 700;
		transition: .4s ease;
		opacity: 0;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__title a { color: #fff; }

	.project__category {
		opacity: 0;
		transition: .4s ease;
		transition-delay: .1s;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__category a {
		color: #fff;
		font-size: 1.3em;
	}

}
	
}

@media screen and (min-width: 768px) and (max-width: 814px) {
    /******* Header ********/
	
	h1 {
		text-align: center;
		font-size: -webkit-xxx-large;
		color:darkolivegreen; /*#4c555f*//*#263366*/
		margin: 3% 0 0 0;
		letter-spacing: 0.4rem;
		/*text-shadow: 5px 5px 10px #4c555f;*/
	}

	.project {
		width: 50%;
		margin: auto;
	}

	.project__image {
		display: block;
		position: relative;
		border: none;
	}

	.project__image img {
		width: 100%;
		max-width: 100%;
		display: block;
		box-shadow: 5px 10px 18px #888888;
	}

	.project__image:after {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity .3s ease;
		opacity: 0;
	}

	.project__card {
		position: relative;
		will-change: transform;
		transition: box-shadow .3s ease;
		box-shadow: 0 10px 30px transparent;
	}

	.project__card.hover-in {
		transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out;
		transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	}

	.project__card.hover-out {
		transition: -webkit-transform .2s ease-in;
		transition: transform .2s ease-in;
		transition: transform .2s ease-in, -webkit-transform .2s ease-in;
	}

	.project:hover .project__card { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }

	.project:hover .project__image:after { opacity: 0.2; }

	.project:hover .project__detail {
		border-width: 10px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
	}

	.project:hover .project__title, .project:hover .project__category {
		-webkit-transform: translateY(0) scale(1);
		-ms-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
		opacity: 1;
	}

	.project__detail {
		position: absolute;
		left: 30px;
		right: 30px;
		top: 30px;
		bottom: 30px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		pointer-events: none;
		-webkit-transform: translateZ(30px);
		transform: translateZ(30px);
		border: 0 solid #fff;
		transition: border .4s ease;
	}

	.project__title {
		margin: 0 0 10px;
		font-size: 36px;
		font-weight: 700;
		transition: .4s ease;
		opacity: 0;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__title a { color: #fff; }

	.project__category {
		opacity: 0;
		transition: .4s ease;
		transition-delay: .1s;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__category a {
		color: #fff;
		font-size: 1.3em;
	}

}
}


/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    /******* Header ********/
    h1 {
		text-align: center;
		font-size: -webkit-xxx-large;
		color:darkolivegreen; /*#4c555f*//*#263366*/
		margin: 3% 0 0 0;
		letter-spacing: 0.4rem;
		/*text-shadow: 5px 5px 10px #4c555f;*/
	}

	.project {
		width: 50%;
		margin: auto;
	}

	.project__image {
		display: block;
		position: relative;
		border: none;
	}

	.project__image img {
		width: 100%;
		max-width: 100%;
		display: block;
		box-shadow: 5px 10px 18px #888888;
	}

	.project__image:after {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: opacity .3s ease;
		opacity: 0;
	}

	.project__card {
		position: relative;
		will-change: transform;
		transition: box-shadow .3s ease;
		box-shadow: 0 10px 30px transparent;
	}

	.project__card.hover-in {
		transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out;
		transition: transform .2s ease-out, -webkit-transform .2s ease-out;
	}

	.project__card.hover-out {
		transition: -webkit-transform .2s ease-in;
		transition: transform .2s ease-in;
		transition: transform .2s ease-in, -webkit-transform .2s ease-in;
	}

	.project:hover .project__card { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }

	.project:hover .project__image:after { opacity: 0.2; }

	.project:hover .project__detail {
		border-width: 10px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
	}

	.project:hover .project__title, .project:hover .project__category {
		-webkit-transform: translateY(0) scale(1);
		-ms-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
		opacity: 1;
	}

	.project__detail {
		position: absolute;
		left: 30px;
		right: 30px;
		top: 30px;
		bottom: 30px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		pointer-events: none;
		-webkit-transform: translateZ(30px);
		transform: translateZ(30px);
		border: 0 solid #fff;
		transition: border .4s ease;
	}

	.project__title {
		margin: 0 0 10px;
		font-size: 36px;
		font-weight: 700;
		transition: .4s ease;
		opacity: 0;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__title a { color: #fff; }

	.project__category {
		opacity: 0;
		transition: .4s ease;
		transition-delay: .1s;
		-webkit-transform: translateY(40px) scale(0);
		-ms-transform: translateY(40px) scale(0);
		transform: translateY(40px) scale(0);
		will-change: transform;
	}

	.project__category a {
		color: #fff;
		font-size: 1.3em;
	}

}

}

/* Portrait phones and smaller */
@media screen and (max-width: 421px) {
    /******* Header ********/
    h1 {
		text-align: center;
		font-size: larger;
		color:darkolivegreen; /*#4c555f*//*#263366*/
		margin: 3% 0 0 0;
		letter-spacing: 0.4rem;
		/*text-shadow: 5px 5px 10px #4c555f;*/
	}

}

@media screen and (max-width: 300px) {
    /******* Header ********/
h1 {
		text-align: center;
		font-size: large;
		color:darkolivegreen; /*#4c555f*//*#263366*/
		margin: 3% 0 0 0;
		letter-spacing: 0.4rem;
		/*text-shadow: 5px 5px 10px #4c555f;*/
	}
	
}


*{
	padding: 0;
	margin: 0;
}

html{
  min-height: 100%;
  overflow: hidden;
}

.head {
	margin-bottom: 3%;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: darkolivegreen;/*#4c555f*/;/*#263366*/;
}

div.head>h2 a {
	color: green;
	text-decoration: none;
	margin-bootom: 3%;
	border-right: 1px solid black;
}
h2{
	text-align: center;
}

p {
	text-align: center;
	color: #fff;
}

footer a{
	color:#fff;
}

a {
	color: #000;
}
.link {
	display: inline-flex;
	align-items:center;
	margin: 3%;
}

.linkIcon {
	display: inline-block;
	max-width: 70px;
	min-width: 70px;
	border-radius: 50%;
}
